body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 11px;

  /* background-color: red; */
}

.title {
  text-align: center;
  font-size: 14px;
  height: 22px;
  padding: 2px;
  color: white;
  background-color: #2b3a55;
  border-radius: 10px 10px 0px 0px;
}

a {
  text-decoration: none !important;
}

.sidebar {
  background-color: #263159;
  color: black;
  width: 38px;
  height: 100vh;
  overflow: hidden;
}

.sidebar_open {
  width: 130px;
}

.top_section {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* padding-top: 1vh; */
  padding: 15px 10px;
  line-height: 0;
}
.toggle-icon {
  font-size: 1.2rem;
  color: #ffffff;
}
.logo {
  height: 54px !important;
  width: 36px !important;
  /* padding-left: 3vh; */
  /* margin-top: -2vh; */
  margin-top: 1vh;
}
.dropdown-icon {
  color: #ffffff;
  font-size: 1rem;
}

.link {
  display: flex;
  color: #ffffff;
  gap: 10px;
  padding: 5px 55px 4px 12px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  align-items: center;
  justify-content: space-around;
  border: 10x solid black;
}

.link:hover {
  /* border-right: 4px solid #000000; */
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background-color: #495579;
  text-decoration: none;
}

.icon {
  font-size: 0.75rem;
  color: #ffffff;
}

.small-icon {
  font-size: 1rem;
  color: #ffffff;
}
.link_text {
  font-size: 0.76rem;
  color: #ffffff;
}

.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.main {
  display: flex;
  flex-grow: 1;
}

.sidebar-child {
  display: flex;
  /* width: 250px !important; */
}

.content-child {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* height: 85vh; */
  /* overflow-y: hidden;
  overflow-x: hidden; */
  overflow: hidden;
}

.header {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  /* height: 10vh; */
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 5px 5px -2px #111;
}

.content {
  height: 85vh;
  padding: 8px;
  overflow-y: scroll;
}

.text-link {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

/* width for buttons  */

.contact-details-tbl {
  display: flex;
  gap: 22px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.form__field:focus,
.form__label {
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: blue;
  font-weight: 700;
}

.submenu_links {
  /* border: 1px solid black; */
  /* display: flex; */
  /* margin-left: 30px; */
  /* text-decoration: none; */
  gap: 10px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  list-style: none;
  height: 35px;
  text-decoration: none;
  font-size: 13px;
}
.submenu_links:hover {
  /* background: #707075; */
  /* background: #3c3cff; */

  /* border-left: 4px solid #707075; */
  cursor: pointer;
  color: #ffffff;
}

.submenu_ul {
  list-style: none;
}

.menu_items {
  display: flex;
  color: #000000;
  gap: 10px;
  align-items: center;
  /* padding: 5px 10px; */
  /* border-right: 4px solid transparent; */
  /* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
  text-decoration: none !important;
}

.menu_items:hover {
  color: #000000;
}
.routes {
  display: flex;
}

.submenu {
  display: block;
}

.close-submenu {
  display: none;
}

input,
Form.Control {
  font-size: 14px;
  padding: -3px 8px 8px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #3932be;
}

.tab-content {
  padding: 0px !important;
}

label {
  color: #2b3a55;
  font-size: 12px;
  font-weight: normal;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  position: relative;
  top: 6px;
}

.horizontal-line {
  margin-top: -5px;
  height: 0px;
  border-top: 5px solid black;
}

.row {
  margin-bottom: 9px !important;
}

.ip-box {
  width: 100%;
  background-color: white;
}
.contact-details-tbl {
  background-color: white;
}

.main-form {
  margin-left: 8px;
}
.submenu_link {
  display: flex;
  color: #000000;
  gap: 10px;
  padding-left: -2px;
  border-right: 4px solid transparent;
  background: rgba(111, 115, 126, 0.3);

  /* background-color: #707075; */
  /* background-color: green; */

  /* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* border: 1px solid black; */
}
.submenu_link:hover {
  /* background: #707075; */
  /* background: #7d7dc4; */
  /* width: 100%; */
  /* border-right: 4px solid #000000; */
  /* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
  /* background-color: #495579; */
  /* border-left: 4px solid #707075; */
  /* background-color: #6c9bcf; */
  /* background-color: #6b69ca !important; */
  background-color: #5956f3 !important;

  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.css-4pdmu4-MuiBreadcrumbs-ol {
  /* margin-top: 18px !important; */
  margin-top: 5px !important;
  /* font-size: 16px !important; */
  font-size: 14px !important;
}

.css-63vwl1-MuiTypography-root-MuiBreadcrumbs-root {
  font-size: 10px !important;
}

.form-title {
  font-size: 14px;
  /* background-color: #ffffff; */
  opacity: 1;
  /* padding-bottom: -10px; */
}

/* .table-header {
  font-size: 12px;
  padding: 3px !important;
} */

/* table items font size */

/* td {
  font-size: 12px;
} */

.title_name {
  color: #ffffff;
  font-size: 1rem;
}

/* .table-data {
  margin-top: 5px;
} */

.tab_font {
  font-weight: 600;
  font-size: 12px;
}

.tableHeaderBGColor {
  /* background-color: rgb(43, 43, 43); */
  font-size: 17px;
  background-color: gray;
  color: white;
  position: sticky;
  top: -1px;
  text-transform: capitalize;
  /* z-index: 100; */
}

/* checkbox style */
.checkBoxStyle {
  top: 0px;
}

.table_top_style {
  margin-bottom: 10px !important;
}

/* media query for buttons only */
@media screen and (max-width: 479px) {
  .button-style {
    width: 100%;
  }
}

.nav-tabs .nav-link {
  background-color: rgb(107, 162, 207) !important;
  color: white !important;
  padding: 3px;
}
.nav-tabs .nav-link.active {
  background-color: whitesmoke !important;
  color: black !important;
}

li.nav-item {
  margin-left: 5px !important;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #e2e0e0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

/* ****************************************************************************************************** */

.input-field {
  font-size: 12px;
  height: 22px;
}

.form-label {
  font-size: 12px;
  font-weight: 700;
}

.button-style {
  width: auto;
  height: 25px;
  border: none;
  margin-right: 10px;
  background-color: #2b3a55;
  color: #ffffff;
  border-radius: 5px;
  /* padding: 1px; */
  margin-top: 8px;
  font-size: 12px;
}

.button-disabled {
  /* color: white !important;
  background-color: rgb(173, 173, 173) !important;
  cursor: no-drop; */
  width: 60px;
  height: 25px;
  border: none;
  margin-right: 10px;
  background-color: rgb(173, 173, 173) !important;
  color: white !important;
  border-radius: 5px;
  /* padding: 1px; */
  margin-top: 8px;
  font-size: 12px;
  cursor: no-drop;
}

th {
  font-size: 12px !important;
  padding: 3px !important;
}

td {
  font-size: 12px !important;
  padding: 3px !important;
}

.in-field {
  font-size: 12px;
  height: 22px;
  border-radius: 5px;
  text-indent: 3px;
}

.ip-select {
  font-size: 12px;
  padding: -3px 10px 10px 5px;
  display: block;
  width: 100%;
  height: 22px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #757575;
}

.ip-select:focus {
  outline: none;
  border-bottom: 1px solid #3932be;
}

.selectedRowClr {
  background-color: #98a8f8 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.erp_title {
  font-size: 16px;
  font-weight: 600;
}

.nav-link {
  padding: 3px;
}

.tab_font {
  /* font-weight: 600; */
  font-size: 12px;
  font-weight: 600;
}

.nav-tabs .nav-link {
  background-color: rgb(107, 162, 207) !important;
  color: white !important;
  padding: 3px;
}
.nav-tabs .nav-link.active {
  background-color: whitesmoke !important;
  color: black !important;
  padding: 3px;
}

li.nav-item {
  margin-left: 5px !important;
}

.input-style {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none !important;
  text-align: center;
}

.hr-line {
  height: 0px;
  border: none;
  border-top: 4px solid #3b84ea;
}
